.pokemon-list{
  display: inline-block;
}

.button-class {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: black;
  color: #4caf50;
  border: 2px solid #4caf50;
  border-radius: 15px;
}

ul {
  list-style: none;
  }
